/*#region Regole del CSS generali */

/* Regole Generali del foglio di stile */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    width: 1865px;
    height: max-content;
    background-color: var(--BodyColor);
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;  
}

/* Tutti gli ID dei container */

#site_main {
    width: var(--Dimensions-Main-Footer);
    height: 4450px;
    margin: 0 auto;
    position: relative;
}

#site_header {
    width: 100%;
    height: max-content;
}

#site_Footer {
    background-color: var(--SiteFooterBack);
    width: 100%;
    height: 450px;
    position: relative;
}

#Aziende {
    position: relative;
    margin: 0 auto;
    background-color: rgba(151, 245, 245, 0.623);
    width: 100%;
    height: 800px;
}

/*#region ALL COMMON UTILITIES */

/* Utilities per la navbar */

.nav_lft_sm ,
.nav_lft_lg {
    position: relative;
    float: left;
} 

.nav_lft_lg a,
.nav_rgt_lg a {
    text-decoration: none;
    color: var(--TextColor);
}

.nav_rgt ,
.nav_rgt_lg {
    float: right;
    position: relative;
    height: 100%;
}

.nav_lft_lg li,
.nav_rgt_lg li {
    list-style: none;   
    display: inline;
    font-size: 0.9rem;
}

/* Utilities dell'Header */

.Hero_Main_sm span,
.Hero_Main_sm i {
    margin: 5% 0% 3% 0%;
    display: block;
}

.Hero_Main_sm,
.Hero_Main_lg,
.Hero_Main_Container,
.Hero_Text_Container,
.Aznd-lg25,
.Aznd-height-md,
.Drop_Aziende_SX,
.Drop_Aziende_Cnt,
.Drop_Opr_Title,
.Drop_Opr_Content
{
    float: left;
    position: relative;
}

.Aznd-height-lg,
.Users_Tit,
.lg100_bsnes,
.col_bsnes_Lft,
.col_bsnes_cnt,
.col-sm-bsnes,
.col-lg-bsnes,
.Partner_Lft,
.nav_lft,
.lg30_opr_up,
.lg30_opr_und,
.col_opr {
    float: left;
    position: relative;
}

.Qstn_md,
.Qstn_sm {
    float: left;
    margin-left: 2.5%;
    position: relative;
    width: 95%;
    border-bottom: 1px solid var(--TextLight);
}

.Qstn_Main,
.Drop_Foot,
.Aznd_Und {
    left: 50%;
    position: absolute;
}

.Aznd-lg40,
.Aznd-lg50-rgt {
    position: relative;
    height: 100%;
}

.Users,
.Aznd_Cent,
.Itms_bsnes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.col_bsnes_Lft,
.col_bsnes_cnt,
.col_bsnes_Rgt {
    border: 0.25px solid lightgrey;
    top: 3%;
    height: 82%;
    width: 27%;
}

.btn_30,
.btn_30_style,
.btn_part{
    text-align: center;
    text-decoration: none; 
}

.Drop_Operations,
.Drop_Opr_Title {
    position: relative;
    width: 100%;
}

.Partner_Rgt,
.Drop_Aziende_DX {
    float: right;
    position: relative;
}

.Partner_Lft img,
.Aznd-lg25 img {
    width: 100%;
    height: 100%;    
}

.Partner_Lft,
.Partner_Rgt {
    width: 48%;
    height: 100%;
}

.nav_lft,
.nav_lft_sm,
.nav_lft_lg {
    height: 100%;
}

.col_opr_lg,
.col_opr_sm {
    float: left;
    position: relative;
    width: 100%;
}

/*#endregion ALL COMMON UTILITIES */

/*#region palette colori */

/********* 
Palette Colori Figma
*********/

:root {
    --NavButton : rgba(0, 97, 255, 1);
    --NavButtonText : rgb(255, 255, 255);
    --SiteFooterBack : rgb(0, 0, 0);
    --SiteFooterLighter : rgb(255, 255, 255);
    --TransparentColor : rgb(255, 255, 255);
    --TextColor : rgb(0, 0, 0);
    --TextLight : rgb(202, 201, 201);
    --Aziende_Under : rgba(180, 208, 231, 1);
    --Dimensions-Main-Footer : 1300px;
    --Dimensions-Drop-Users : 1250px;
    --Navbar-Col-Dimensions:650px;
}

/*#endregion palette colori */

/*#endregion Regole del CSS generali */

/* CONCLUSA */
/*#region site_header*/

/* CONCLUSA */
/*#region Navbar del sito web */

/* NavBar */

.navbar {
    width: 100%;
    height: 75px;
}

/* Contenuto a SX della NavBar */

.nav_lft {
    width:var(--Navbar-Col-Dimensions);
}

/* Cella piccola che contiene logo */

.nav_lft_sm {
    width: 20%;
}

.nav_lft_sm img {
    width: 100%;
    object-fit: contain;
    position: absolute;
    margin: 25px 0px 0px 10px;
}

.nav_lft_lg {
    width: 75%;
}

.nav_lft_lg li {
    padding: 10px 15px;   
}

.nav_lft_lg ul {
    padding: 26px 0px 0px 20px;
}

/* Contenuto a DX della NavBar */

.nav_rgt {
    width: var(--Navbar-Col-Dimensions);
}

.nav_rgt_lg li {
    padding: 10px 20px;
}

.nav_rgt_lg ul {
    padding: 26px 0px 0px 0px;
}

.btn_nav {     
    background-color:var(--NavButton);
    padding: 5px 15px 5px 15px;  
    text-decoration: none;
}

.btn_nav_style {
    font-size: 0.85rem;
}
/*#endregion Navbar del sito */

/********************/ 
/* Contenuto dell'Header 
**********/

/* Header */

.cont_header {
    position: relative;
    width: 100%;
    height: 750px;
    background-color: #B4D0E7;
}

/* Container del testo Hero */

.Hero_Text_Container {
    width: 80%;
    height: 30%;
    left: 8%;
}

.Hero_Title {
    padding-top: 4%;
    text-align: justify;
    line-height: 6rem;
    font-size:72px;
    width: 90%;
}

/* Container per Foto a DX e testo a SX */

.Hero_Main_Container {
    width: 75%;
    height: 70%;
    left: 8%;
}

/* Cella SX */

.Hero_Main_sm {
    width: 40%;
    height: 100%;
}

.Hero_Main_sm p {
    margin: 15% 0% 8% 0%;
    width: 85%;
    line-height: 1.6rem;
    font-size: 1.2rem;
}

.Hero_Main_sm span {  
    font-size: 0.85rem;
}

.Hero_Main_sm i {  
    font-size: 2.5rem;
}

.btn_head {     
    background-color:var(--NavButton);
    padding: 7px 15px 7px 15px;  
    text-decoration: none;
}

.btn_head_style {
    color: white;
    font-size: 0.9rem;
}

/* Cella DX */

.Hero_Main_lg {
    width: 60%;
    height: 100%;
    z-index: 1;
}

.Hero_Main_lg img {
    object-fit: contain;
    margin: 7.5% 0% 0% 0%;
    width: 110%;
    height: 110%;
}

/*#endregion site_header*/

/*#region site_main*/

/* CONCLUSA */
/*#region DropBox Business - 3 macroaree */

/* Sezione DropBox Business */

.Drop_Business {
    position: relative;
    width: 100%;
    height: 1450px;
    top: 5rem;
}

.Itms_bsnes {
    margin: 0 auto;
    width: 100%;
    height: 95%;
}

/* Cella da 100 con titolo e radiobutton */

.lg100_bsnes {
    top:1.5rem;
    width: 100%;
    height: 150px;
}

.lg100_bsnes h2 {
    font-size: 2.5rem;
    text-align: left;
}

.Itms_bsnes label {
    padding-right: 10px;
}

.col_bsnes_Lft {
    margin: 0% 3% 0% 0%;
}

.col_bsnes_cnt {
    margin: 0% 4.5% 0% 6.5%;
}

.col_bsnes_Rgt {
    position: relative;
    float: right;
    margin: 0% 0% 0% 3%;
}

/* Cella piccola con titolo e icona */

.col-sm-bsnes {
    border: 0.25px solid lightgrey;
    width: 100%;
    height: 5%;
}

.col-sm-bsnes h4 {
    font-weight: 500;
    text-align: center;
    font-size: 1.1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.col-sm-bsnes i {
    padding-right: 10px;  
}

/* Cella grande con varie icone e testi */

.col-lg-bsnes {
    width: 100%;
    height: 93%;
}

.col-lg-bsnes h3 {
    padding: 25px 0px 10px 25px;
    text-align: left;
    font-size: 1.5rem;
}

.col-lg-bsnes h4 {
    padding: 15px 0px 10px 25px;
    text-align: left;
    font-size: 1.1rem;
}

/* Contenuto della cella */

.col-lg-bsnes span {
    width: 95%;
    padding: 10px 0px 15px 25px;
    display: inline-block;
    font-size: 0.9rem;
}

/* Icone rimpicciolite ai lati dello span */

.Icon-sm {
    font-size: 0.9rem;
}

.btn_30 { 
    display: inline-block;
    margin: 30px 0px 20px 25px;
}

.btn_30_style { 
    color: white;
    background-color: var(--NavButton);
    padding: 7px 50px 7px 50px;
    font-size: 0.9rem;
}

.lg-bsnes-hr {
    color: rgba(211, 211, 211, 0.5);
    width: 20%;
    margin:20px 0px 20px 25px;
}

/* Lista non ordinata stilizzata */

.col-lg-bsnes ul {
    width: 90%;
    padding: 15px 0px 15px 25px;
    display: inline-block;
    font-size: 0.9rem;
    list-style: none;
}
/* Colore delle spunte */

.fa-check {
    color: var(--NavButton);
}

.col-lg-bsnes li {
    padding: 5px 0px 10px;
}

/*#endregion DropBox Business - 3 macroaree */

/* CONCLUSA */
/*#region Dropbox enterprise e ufficio vendite */

/* Sezione DropBox Enterprise */

.Drop_Enterprise {
    position: relative;
    width: 100%;
    height: 250px;
    top: 5rem;
    margin-bottom: 7%;
}

.Enter_Title {
    border: 0.25px solid lightgrey;
    position: relative;
    background-color:white; 
    width: 100%;
    height: 20%;
}

.Enter_Title h4 {
    font-weight: 500;
    text-align: center;
    font-size: 1.25rem;
    position: absolute;
    top: 50%;
    padding-left: 5px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Enter_Title i {
    padding-right: 5px;  
}

/* Container della cella */

.Enter_Content {
    border: 0.25px solid lightgrey;
    width: 100%;
    height: 80%;
    text-align: center;
    position: relative;
}

/* Cella di sx all'interno di enterprise - grande */
.Enterprise_lg {
    float: left;
    width: 70%;
    height: 100%;
}

.Enterprise_lg h2 { 
    padding: 35px 0px 15px 25px;
    text-align: left;
}

.Enterprise_lg h3 {
    padding: 0px 0px 15px 25px;
    text-align: left;
}

.Enterprise_lg p {
    padding: 25px;
    text-align: left;
}

/* Contenitore piccolo a DX - cella con pulsante */

.Enterprise_sm {
    width: 30%;
    height: 100%;
    float: left;
}

.Enterprise_sm a {
    position: absolute;
    right: 30px;
    top: 35px;
}

.btn_enter { 
    color: var(--TextLight);
    background-color: var(--NavButton);
    text-align: center;
    text-decoration: none;
    padding: 7px 55px 7px 55px;
    font-size: 0.9rem;
}

/*#endregion Dropbox enterprise e ufficio vendite */

/* CONCLUSA */
/*#region Dropbox partner */

/**** Sezione DropBox Contatto Partner 
********/

.Drop_Partner {
    position: relative;
    width: 100%;
    height: 600px;
    top: 7rem;
    margin-bottom: 7%;
}

/* Contenuto a SX della Section */

.Partner_Lft img {
    object-fit: contain;
}

/* Contenuto a DX della Section */

.Partner_Rgt h2 {
    width: 80%;
    text-align: left;
    margin-top: 3.5rem;
    margin-bottom: 2.25rem;
    font-size: 1.75rem;
}

.Partner_Rgt p {
    width: 70%;
    text-align: left;
    line-height: 1.75rem;
    margin-bottom: 2rem;
}

.btn_part {
    color: var(--TextColor);
    background-color: var(--SiteFooterLighter);
    border: 0.5px solid var(--TextColor);
    padding: 7px 20px 7px 20px;
}

/*#endregion Dropbox partner */

/* CONCLUSA */
/*#region Dropbox più operazioni */

/**** Sezione DropBox Più operazioni
********/

.Drop_Operations {
    background-color:var(--DropBusinessCont);
    height: 1400px;
    top: 7rem;
    margin-bottom: 10%;
}

.Drop_Opr_Title {
    height: 10%;
    width: 100%;
}

.Drop_Opr_Title h2 {
    text-align: left;
    font-size: 2.75rem;
    margin-top: 1%;
}

.Drop_Opr_Content {
    width: 100%;
    height: 1200px;
    margin: 0 auto;
}

.col_opr {
    width: 33.33%;
    height: 650px; 
    margin-bottom: 3%;
}

.col_opr_lg {
    height: 50%;
} 

.col_opr_sm {
    height: 50%;
}

.col_opr_sm img {
    width: 87%;
    height: 95%;
    background-size: contain;   
}

.col_opr_lg h3 {
    color: var(--TextColor);
    font-size: 1.75rem;
    padding: 3% 0% 5% 1%;
}

.col_opr_lg p {
    width: 75%;
    color: var(--TextColor);
    font-size: 1.05rem;
    line-height: 1.5rem;
    padding: 0% 0% 2% 1%;
}

/*#endregion Dropbox più operazioni */

/* CONCLUSA */
/*#region Dropbox Users */

/******** 
Sezione Numero Utilizzatori
********/

.Drop_Users{
    position: relative;
    width: var(--Dimensions-Drop-Users);
    height: 350px;
    top: 4.5rem;
}

.Users {
    width: 95%;
    height: 80%;
}

.Users_Tit {  
    width: 100%;
    height: 20%;
}

.Users_Tit h2 {
    font-size: 2.5rem;
    padding-top: 5%;
}

.Users_Ancor {
    color: rgba(16, 107, 255, 1);
    padding-top: 8%;
    float: left;
}

/*#endregion Dropbox Users*/

/* CONCLUSA */
/*#region Aziende Dropbox */

/**** Id per la sezione di aziende
********/

.Aznd-lg25 {
    width: 50%;
    height: 50%;
}

/**** Sezione Immagini Azienda a SX
********/

.Drop_Aziende_SX {
    width: 25%;
    height: 60%;
}

/**** Sezione Testo Azienda in centro
********/

.Drop_Aziende_Cnt {
    background-color:rgba(245, 245, 245, 1);
    width: 50%;
    height: 60%;
}

.Aznd_Cent {
    width: 95%;
    height: 100%;
}

.Aznd-height-md {
    margin:0% 2% 1.5% 2.5%;
    width: 95%;
    height: 30%;
}

.Aznd-height-md img {
    width:25%;
    height:100%;
    position: absolute;
    right: 80%;
}

.lg-bsnes-hr {
    color: rgba(211, 211, 211, 0.5);
    width: 20%;
    margin:20px 0px 20px 25px;
}

.Aznd-height-lg {
    margin:1% 2% 1% 2.5%;
    width: 80%;
    height: 60%;
}

.Aznd-height-lg span {
    line-height: 1.75rem;
    font-size: 1.25rem;
}

.Cit {
    line-height: 1.75rem;
    font-size: 1.3rem;
}

/**** Sezione Immagini Azienda a DX
********/

.Drop_Aziende_DX {
    width: 25%;
    height: 60%;
}

/*#endregion Aziende Drop DX  */

/* CONCLUSA */
/*#region Aziende Porta Drobox Business */

/**** 
Sezione Prova Gratuita
********/

.Drop_Aziende_Under {
    background-color:var(--Aziende_Under);
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
}

.Aznd_Und {
    width: 1300px;
    height: 200px;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* Colonna di SX */
.Aznd-lg40 {  
    float: left;
    width: 40%;
}

.Aznd-lg40 h2 {
    color:rgba(97, 8, 43, 1);
    font-size: 2.25rem;
    padding-top: 8%;
    padding-left: 10%;
    text-align: left;
}

/* Colonna di DX */

.Aznd-lg50-rgt {
    text-align: right;
    float: right;
    width: 50%;
}

.Aznd-lg50-rgt a {
    position: relative;
    top:25%;
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--TextColor);
    background-color: var(--TransparentColor);
    padding: 1.5% 15% 1.5% 15%;
}

/*#endregion Aziende Under */

/* CONCLUSA */
/*#region Domande Frequenti */

.Drop_Questions {
    background-color:var(--TransparentColor);
    position: relative;
    width: 100%;
    height: 600px;
}

/* Container principale per le domande in fondo  */

.Qstn_Main {
    width: 800px;
    height: 500px; 
    top: 50%;
    transform: translate(-50%,-50%);
}

.Qstn_md {
    margin-top: 1%;
    height: 20%;
}

.Qstn_md h2 {
    margin-top: 4%;
    color: var(--TextColor);
}

.Qstn_sm {
    height: 17%;
}

.Qstn_sm p {
    padding-right: 15%;
    display: inline-block;
    padding-top: 3.75%;
    font-size: 0.9rem;
    font-weight: 600;
}

/*#endregion Domande frequenti */

/*#endregion site_main*/

/* CONCLUSA (mancano loghi in fondo) */
/*#region site_Footer*/

.Drop_Foot {
    width: 1100px;
    height: max-content;
    top:15%;
    transform: translate(-50%);
}

.Foot_md { 
    position: relative;
    width: 20%;
    margin-top: 2%;
    float: left;
    height: 70%;
}

.Foot_md ul {
    font-size: small;
    color: var(--SiteFooterLighter);
    line-height: 1.75rem;
    list-style: none;
}

.Ul_Foot_Title {
    display: inline-block;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

/*#endregion  site_Footer*/