/* Regole Generali del foglio di stile */

/* ******** */
/*#region palette colori */
/*#endregion palette colori */
/* ******** */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    width: 1865px;
    height: max-content;
    background-color: var(--BodyColor);
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;  
}

/*#region palette colori */

/********* 
Palette Colori Figma
*********/

:root {
    --NavButton : rgba(0, 97, 255, 1);
    --NavButtonText : rgb(255, 255, 255);
    --SiteFooterBack : rgb(0, 0, 0);
    --SiteFooterLighter : rgb(255, 255, 255);
    --TransparentColor : rgb(255, 255, 255);
    --TextColor : rgb(0, 0, 0);
    --TextLight : rgb(202, 201, 201);
    --Aziende_Under : rgba(180, 208, 231, 1);
    --Dimensions-Main-Footer : 1300px;
    --Dimensions-Drop-Users : 1250px;
    --Navbar-Col-Dimensions:50%;
}

/********* 
Palette Colori - Blocchi
(diventerà poi inutile)
*********/

:root {
    --NavBar:rgba(244, 249, 7, 0.38);
    --BodyColor:rgba(255, 255, 255, 0.38);
    --NavItems:rgba(247, 196, 104, 1);
    --HeadContainer:rgba(203, 143, 158, 1);
    --DropBusinessCont: rgba(244, 249, 7, 0.38);
    --ItemsBusinessCont : rgba(253, 16, 16, 0.42);
    --Colonne : rgba(0, 0, 0, 0.596);
    --Dimensions-Main-Footer : 1300px;
}

/*#endregion palette colori */

/*#region site_header*/


/********************+/ 
/* Contenuto dell'Header 
**********/

/* NavBar */

.navbar {
    width: 100%;
    height: 75px;
    background-color: var(--NavBar);
}

/* Contenuto a SX della NavBar */

.nav_lft {
    background-color:var(--NavItems) ;
    float: left;
    position: relative;
    width:var(--Navbar-Col-Dimensions);
    height: 100%;
}


/* Contenuto a DX della NavBar */

.nav_rgt {
    background-color:var(--NavItems) ;
    float: right;
    position: relative;
    width: var(--Navbar-Col-Dimensions);
    height: 100%;
}

.btn_nav {
    background-color:var(--NavButton);
    color: var(--NavButtonText);
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
    text-decoration: none;
}

/* Header */

.cont_header {
    position: relative;
    width: 100%;
    height: 700px;
    background-color: var(--HeadContainer);
}

.h1_head {
    padding-top: 25px;
    line-height: 4rem;
    margin: 0 auto;
    font-size:3rem;
    width: 750px;
    height: 200px;
    background-color: aqua;
}

/*#endregion site_header*/

/*#region site_main*/

/********************+/ 

/* Contenuto del Main 
**********/

/* Larghezza fissa a Main
alla modifica della larghezza ne 
consegue una diminuzione da parte
di tutti i suoi child */


#site_main {
    background-color: rgb(250, 250, 250);
    width: var(--Dimensions-Main-Footer);
    height: 3920px;
    margin: 0 auto;
    position: relative;
}

/* Sezione DropBox Business */

.Drop_Business {
    background-color:var(--DropBusinessCont);
    position: relative;
    width: 100%;
    height: 1000px;
    top: 5rem;
    margin-bottom: 4%;
}

.Itms_bsnes {
background-color: var(--ItemsBusinessCont);
position: absolute;
margin: 0 auto;
width: 95%;
height: 95%;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.lg100_bsnes {
    background-color:var(--Colonne); 
    top:1.5rem;
    float: left;
    position: relative;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 150px;
}

.lg30_bsnes {
    background-color:var(--Colonne); 
    position: relative;
    float: left;
    width: 30%;
    height: 76%;
    top: 5%;
    margin-left:1.66%;
    margin-right:1.66%;
}

/* Sezione DropBox Enterprise */

.Drop_Enterprise {
    background-color:var(--DropBusinessCont);
    position: relative;
    width: 100%;
    height: 300px;
    top: 5rem;
    margin-bottom: 7%;
}

.Enter_Title {
    border: 0.25px solid lightgrey;
    position: relative;
    background-color:white; 
    width: 100%;
    height: 20%;
}

.Enter_Title span {
    text-align: center;
    font-size: 1.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Enter_Content {
    background-color:rgba(0, 0, 0, 0.29); 
    width: 100%;
    height: 80%;
    text-align: center;
    position: relative;
}

/* CONCLUSA */
/*#region Dropbox partner */

/**** Sezione DropBox Contatto Partner 
********/

.Drop_Partner {
    position: relative;
    width: 100%;
    height: 600px;
    top: 7rem;
    margin-bottom: 7%;
}

/* Contenuto a SX della Section */

.Partner_Lft {
    float: left;
    position: relative;
    width: 48%;
    height: 100%;
}

.Partner_Lft img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Contenuto a DX della Section */

.Partner_Rgt {
    float: right;
    position: relative;
    width: 48%;
    height: 90%;
}

.Partner_Rgt h2 {
    width: 80%;
    text-align: left;
    margin-top: 3.5rem;
    margin-bottom: 2.25rem;
    font-size: 1.75rem;
}

.Partner_Rgt p {
    width: 70%;
    text-align: left;
    line-height: 1.75rem;
    margin-bottom: 2rem;
}

.btn_part {
    color: var(--TextColor);
    background-color: var(--SiteFooterLighter);
    border: 0.5px solid var(--TextColor);
    text-align: center;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;
}

/*#endregion Dropbox partner */

/**** Sezione DropBox Più operazioni
********/

.Drop_Operations {
    background-color:var(--DropBusinessCont);
    position: relative;
    width: 100%;
    height: 1300px;
    top: 7rem;
    margin-bottom: 10%;
}

/* Titolo della sezione Operazioni */

.Drop_Opr_Title {
    position: relative;
    background-color:var(--Colonne); 
    width: 100%;
    height: 10%;
    text-align: center;
}

/* Container sezione Operazioni */
/* Per ora altezza fissa poi cambia */

.Drop_Opr_Content {
    background-color:var(--Colonne);
    float: left;
    position: relative;
    width: 100%;
    height: 1200px;
    margin: 0 auto;
    top: 5%;
}

/* Celle superiori */

.lg30_opr_up {
    margin-bottom: 10%;
    background-color:rgba(212, 42, 42, 0.555); 
    position: relative;
    float: left;
    width: 33.33%; 
    height: 500px;
}

.lg30_opr_up img {
    width: 100%;
    height: 50%;
    object-fit: contain;
    margin-bottom: 5px;
    margin-left: 0%;
}

.lg30_opr_up h3 {
    color: var(--TextColor);
    font-size: 1.75rem;
    padding-bottom: 5%;
}

.lg30_opr_up p {
    width: 85%;
    color: var(--TextColor);
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-bottom: 5px;
}


/* Celle Inferiori */

.lg30_opr_und {
    margin-bottom: 5%;
    background-color:rgba(212, 42, 42, 0.555);
    position: relative;
    float: left;
    width: 33.33%;
    height: 500px;
}

/* CONCLUSA */
/*#region Dropbox Users */

/******** 
Sezione Numero Utilizzatori
********/

.Drop_Users{
    position: relative;
    width: var(--Dimensions-Drop-Users);
    height: 350px;
    top: 4.5rem;
}

.Users {
    width: 95%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Users_Tit {  
    float: left;
    position: relative;
    width: 100%;
    height: 20%;
}

.Users_Tit h2 {
    font-size: 2.5rem;
    padding-top: 5%;
}

.Users_Ancor {
    color: rgba(16, 107, 255, 1);
    padding-top: 10%;
    float: left;
}

/*#endregion Dropbox Users*/

/* CONCLUSA */
/*#region Aziende Drop */

/**** Id per la sezione di aziende
********/

#Aziende {
    position: relative;
    margin: 0 auto;
    background-color: rgba(151, 245, 245, 0.623);
    width: 100%;
    height: 800px;
    margin-top: 4%;
}

.Aznd-lg25 {
    background-color: rgba(128, 0, 128, 0.541);
    float: left;
    position: relative;
    width: 50%;
    height: 50%;
}

.Aznd-lg25 img {
    width:100%;
    height:100%;
}

/**** Sezione Immagini Azienda a SX
********/

.Drop_Aziende_SX {
    background-color:var(--DropBusinessCont);
    float: left;
    position: relative;
    width: 25%;
    height: 60%;
}

/**** Sezione Testo Azienda in centro
********/

.Drop_Aziende_Cnt {
    background-color:rgba(245, 245, 245, 1);
    float: left;
    position: relative;
    width: 50%;
    height: 60%;
}

/* Container per le 2 celle */

.Aznd_Cent {
    /* background-color: rgba(223, 128, 20, 0.541); */
    width: 95%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* Celle all'interno del
container centrale della sezione aziende 

height -md : atezza media 
height -lg : atezza large */

.Aznd-height-md {
    float: left;
    position: relative;
    margin:0% 2% 1.5% 2.5%;
    width: 95%;
    height: 30%;
}

.Aznd-height-md img {
    width:25%;
    height:100%;
    position: absolute;
    right: 80%;
}

.Aznd-height-lg {
    float: left;
    position: relative;
    margin:1% 2% 1% 2.5%;
    width: 80%;
    height: 60%;
}

.Aznd-height-lg span {
    line-height: 1.75rem;
    font-size: 1.25rem;
}

.Cit {
    line-height: 1.75rem;
    font-size: 1.3rem;
}

/**** Sezione Immagini Azienda a DX
********/

.Drop_Aziende_DX {
    /* background-color:var(--DropBusinessCont); */
    float: right;
    position: relative;
    width: 25%;
    height: 60%;
}

/*#endregion Aziende Drop DX  */

/* CONCLUSA */
/*#region Aziende Under */

/**** 
Sezione Prova Gratuita
********/

.Drop_Aziende_Under {
    background-color:var(--Aziende_Under);
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
}

.Aznd_Und {
    /* background-color: rgba(223, 128, 20, 0.541); */
    width: 1300px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Colonna di SX */
.Aznd-lg40 {  
    float: left;
    position: relative;
    width: 40%;
    height: 100%;
}

.Aznd-lg40 h2 {
    color:rgba(97, 8, 43, 1);
    font-size: 2.25rem;
    padding-top: 8%;
    padding-left: 10%;
    text-align: left;
}

/* Colonna di DX */

.Aznd-lg50-rgt {
    text-align: right;
    float: right;
    position: relative;
    width: 50%;
    height: 100%;
}

.Aznd-lg50-rgt a {
    position: relative;
    top:25%;
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--TextColor);
    background-color: var(--TransparentColor);
    padding: 1.5% 15% 1.5% 15%;
}

/*#endregion Aziende Under */

/* CONCLUSA */
/*#region Domande Frequenti */

/**** Sezione Per le domande frequenti
********/

.Drop_Questions {
    background-color:var(--TransparentColor);
    position: relative;
    width: 100%;
    height: 600px;
}

/* Container principale per le domande in fondo  */

.Qstn_Main {
    width: 800px;
    height: 500px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

/* Container di tutte le domande frequenti  
md = lg media
sm = small */

.Qstn_md {
    position: relative;
    width: 95%;
    border-bottom: 1px solid var(--TextLight);
    margin-top: 1%;
    margin-left: 2.5%;
    float: left;
    height: 20%;
}

.Qstn_md h2 {
    margin-top: 4%;
    color: var(--TextColor);
}

.Qstn_sm {
    position: relative;
    width: 95%;
    border-bottom: 1px solid var(--TextLight);
    margin-left: 2.5%;
    float: left;
    height: 17%;
}

.Qstn_sm p {
    padding-right: 15%;
    display: inline-block;
    padding-top: 3.75%;
    font-size: 0.9rem;
    font-weight: bold;
}

/*#endregion Domande frequenti */

/*#endregion site_main*/

/* CONCLUSA (mancano loghi in fondo */
/*#region site_Footer*/

/********* 
Footer del Sito Web
********/

#site_Footer {
    background-color: var(--SiteFooterBack);
    width: 100%;
    height: 450px;
    position: relative;
}

.Drop_Foot {
    position: absolute;
    width: 1100px;
    height: 450px;
    top:15%;
    left: 50%;
    transform: translate(-50%);
}

.Foot_md { 
    position: relative;
    width: 20%;
    margin-top: 2%;
    float: left;
    height: 70%;
}

/* Lista non ordinata del footer */

.Foot_md ul {
    font-size: small;
    color: var(--SiteFooterLighter);
    line-height: 1.75rem;
    list-style: none;
}

.Ul_Foot_Title {
    display: inline-block;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

/*#endregion  site_Footer*/